%h1 Send Text Message

%label First Name:
%div= @text_log.first_name
%label Last Name:
%div= @text_log.last_name
%label Phone Number:
%div= @text_log.phone_number
= form_tag text_log_send_text_path(@text_log) do
  = label_tag 'Message to Send:'
  %br
  = text_area_tag(:text_message_body, nil, {:style => 'height: 150px;width: 250px;'})

  %div.actions
    = submit_tag("Send Text")
%br
%br
= button_to 'Edit', edit_text_log_path(@text_log), method: :get
%br
= button_to 'Back', text_logs_path, method: :get
